{% extends "core/base.html" %}

{% block background %}{% load static %}{% static '/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<span class="subheading">Consultoría</span>
{% endblock %}

{% block content %}
<div class="col-md-12">
    
    <h2>Contacto</h2>
    <p>
        ¡Estamos aquí para responder tus preguntas y brindarte la información que necesitas! Completa nuestro formulario de contacto y nos pondremos en contacto contigo lo antes posible.</p>
        <p>También puedes comunicarte con nosotros al siguiente número de teléfono: <strong>+1 123 321 001</strong>.</p>
        
</div>
  
{% endblock %}
