{% extends "core/base.html" %}

{% block title %}Inicio{% endblock %}

{% block background %}{% load static %}{% static '/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<span class="subheading">Menú principal</span>
{% endblock %}

{% block content %}
<div class="col-lg-9 col-md-12">
    <h2>Portada</h2>
    <p>Descubre un mundo de posibilidades en nuestro sitio web, donde la elegancia del diseño se combina con la funcionalidad intuitiva para brindarte una experiencia de navegación sin igual</p>
</div>
{% endblock %}